.signup{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    align-items: center;

}
.inp{
    height: 40px;
    margin-right: 20px;
    width: 170px;
    margin-bottom: 20px;


}